<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BobRfid.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BobRfid.AppSettings>
            <setting name="ServiceBaseAddress" serializeAs="String">
                <value>http://legsofsteel.bob85.com/test/</value>
            </setting>
            <setting name="ReaderIpAddress" serializeAs="String">
                <value>169.254.1.1</value>
            </setting>
            <setting name="ServiceTimeoutSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StartupDelaySeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PrinterType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ReaderType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReaderPortName" serializeAs="String">
                <value>COM1</value>
            </setting>
        </BobRfid.AppSettings>
    </userSettings>
	<runtime>
		<assemblyBinding>
			<dependentAssembly>
				<assemblyIdentity name="LLRP" publicKeyToken="92f466b54dae9fc4" culture="neutral" />
				<codeBase version="1.0.0.6" href="MercuryLLRP.dll" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>